* {
  margin: 0;
  padding: 0;
}
.todo-item {
  max-width: 100%;
  padding: 10px;
  border-bottom: 2px black;
  display: flex;
  align-items: center;
  position: relative;
}

p {
  display: inline-block;
  width: 80%;
  padding-left: 30px;
  font-size: 1.5rem;
}

input:first-child {
  display: inline-block;
  border-radius: 50%;
}

p.todo-done {
  text-decoration: line-through;
  color: grey;
}

.btn {
  border: 0;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: hsl(233, 11%, 84%);
  cursor: pointer;
}

.btn:nth-of-type(2) {
  margin-left: 10px;
}

.btn:hover {
  opacity: 0.8;
}

.input-edit {
  display: inline-block;
  position: absolute;
  height: 80%;
  top: 0;
  left: 0;

  transform: translateX(-110%);
  transition: all 0.2s;
}
.input-edit input {
  display: inline-block;
  border-radius: 10px;
  height: 100%;
}
input:focus {
  outline: 0;
}

.hidden {
  display: none;
}

button:focus {
  outline: 0;
}

/* CheckBox */

/* The container */
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
