* {
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1440px;
  height: 90vh;
  margin: 0 auto;
  background-color: grey;
  position: relative;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  margin-bottom: 10px;
}

.content {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
